{{ define "main" }}
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="row">
    <div class="col-2">
      <div class="content-column-content">
          {{ partial "social_buttons_in_barber.html" . }}
         <h1>{{ .Title }}</h1>

         {{ if and (isset .Params "image") .Params.image }}
             <img src="{{.Params.image | absURL}}" alt="" style="max-height: 200px;">
         </a>
       {{ end }}

      </div>
      <div class="content-column-content">
                 {{ .Content }}

      </div>
    </div>
  </div>
{{ end }}