{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="row">
    <div class="col">
      <div class="content-column-content float-left">
          {{ partial "social_buttons_in_barber.html" . }}
         <h1>{{ .Title }}</h1>

         {{ if and (isset .Params "image") .Params.image }}
             <img height="200" src="{{.Params.image | absURL}}" alt="" class="img-responsive">
         <!--</a>-->
       {{ end }}
      </div>>
    </div>
    <div class="col>
      <div class="content-column-content float-right">
  
           {{ .Content }}
        </div>
      </div>
  </div>
</div>
{{ end }}