<!-- Footer -->
<div class="w3-container w3-content w3-padding-32 w3-text-grey" style="max-width:800px" id="CONTACT">
  <h2 class="w3-wide w3-center">CONTACT</h2>
  <div class="w3-row w3-padding-32">

    <div class="w3-col m6 w3-large w3-margin-bottom">
      <table class="w3-table">
        <tr>
          <td><i class="fa fa-phone" style="width:30px"></i></td>
          <td><a href="tel:1-317-331-4261">1-317-331-4261</a></td>
        </tr>
        <tr>
          <td><i class="fa fa-address-book" style="width:30px"></i></td>
          <td><a href="mailto:jonesbarbershop@icloud.com">jonesbarbershop@icloud.com</a></td>
        </tr>
        <tr>
          <td><i class="fa fa-envelope" style="width:30px"></i></td>
          <td> 
            <a href="https://www.google.com/maps/dir/?api=1&destination=801+Loews+Boulevard+Greenwood+IN" target="_blank">
              801 Loews Boulevard<br>Greenwood IN, 4614
            </a>
            </td>
        </tr>
        <tr>
          <td></td>
          <td>

            <p>
              <a href="https://www.facebook.com/JonesBarberShop317/" target="_blank" style="padding:10px;">
                <i class="fa fa-facebook fa-2x"></i>
              </a>
              <a href="https://www.instagram.com/theotherchadthebarber/" target="_blank" style="padding:10px;">
                <i class="fa fa-instagram fa-2x"></i>
              </a>
              <a href="mailto:jonesbarbershop@icloud.com" style="padding:10px;">
                <i class="fa fa-envelope fa-2x"></i>
              </a>
            </p>

          </td>
        </tr>
      </table>
    </div>

    <div class="w3-col m6">
      <a href="https://www.google.com/maps/dir/?api=1&destination=801+Loews+Boulevard+Greenwood+IN" target="_blank">
        <img src="/img/map.png" width="100%">
      </a>
    </div>

  </div>
</div>

<script>
  // Used to toggle the menu on small screens when clicking on the menu button
  function myFunction() {
    var x = document.getElementById("navBar");
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
    } else {
      x.className = x.className.replace(" w3-show", "");
    }
  }
</script>

</body>

</html>