<!-- Footer -->

<div class="w3-container w3-content w3-padding w3-text-grey" style="max-width: 900px">

  <h2 class="w3-wide w3-center">ABOUT US</h2>

  <div class="w3-row">
    <div class="w3-col m6 w3-large">
      <p class="w3-container w3-text-white">
        Jones' Barber Shop is convienently located in Greenwood, Indiana across from the Greenwood Park Mall
      </p>
      <table class="w3-table">
        <tr>
          <td><i class="fa fa-phone" style="width:30px"></i></td>
          <td><a href="tel:1-317-360-9470">1-317-360-9470</a></td>
        </tr>
        <tr>
          <td><i class="fa fa-address-book" style="width:30px"></i></td>
          <td><a href="mailto:jonesbarbershop@icloud.com">JonesBarberShop@icloud.com</a></td>
        </tr>
        <tr>
          <td><i class="fa fa-envelope" style="width:30px"></i></td>
          <td>
            <a href="https://www.google.com/maps/dir/?api=1&destination=801+Loews+Boulevard+Greenwood+IN"
              target="_blank">
              801 Loews Boulevard (Suite C)<br>Greenwood IN, 46142
            </a>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>

            <p>
              <a href="https://www.facebook.com/JonesBarberShop317/" target="_blank" style="padding:10px;">
                <i class="fa fa-facebook fa-2x"></i>
              </a>
              <a href="https://www.instagram.com/theotherchadthebarber/" target="_blank" style="padding:10px;">
                <i class="fa fa-instagram fa-2x"></i>
              </a>
              <a href="mailto:jonesbarbershop@icloud.com" style="padding:10px;">
                <i class="fa fa-envelope fa-2x"></i>
              </a>
            </p>

          </td>
        </tr>
      </table>
    </div>
    <div class="w3-col m6 w3-large w3-center w3-margin-bottom">
      <h3 class="w3-wide">HOURS</h3>
      <h4>Mon: 9am-6pm</h4>
      <h4>Tues: 9am-8pm</h4>
      <h4>Wed: 9am-8pm</h4>
      <h4>Thurs: 9am-6pm</h4>
      <h4>Fri: 9am-6pm</h4>
      <h4>Sat: 8am-2pm</h4>

    </div>
  </div>
</div>

<script>
  // Used to toggle the menu on small screens when clicking on the menu button
  function myFunction() {
    var x = document.getElementById("navBar");
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
    } else {
      x.className = x.className.replace(" w3-show", "");
    }
  }
</script>

</body>

</html>