<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-black w3-card w3-opacity-min">
        <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
            href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i
                class="fa fa-bars"></i></a>

        {{ range .Site.Menus.main }}

        <a href="{{ .URL }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right">{{ .Name }}</a>

        {{ end }}

        <a href="/" class="w3-bar-item w3-button w3-padding-large  w3-left w3-hide-large">JBS</a>
        <a href="/" class="w3-bar-item w3-button w3-padding-large  w3-left w3-hide-small w3-hide-medium">Jones' Barber
            Shop</a>


    </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navBar" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top w3-opacity-min"
    style="margin-top:46px">
    {{ range .Site.Menus.main }}
    <a href="{{ .URL }}" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">{{ .Name }}</a>
    {{ end }}
</div>