<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-black w3-card w3-opacity-min">
        <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
            href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i
                class="fa fa-bars"></i></a>
        <a href="/jbs/contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right">CONTACT</a>
        <a href="/jbs/portfolio" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right">PHOTOS</a>
        <a href="/jbs/barbers" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right">BARBERS</a>
        <a href="/jbs/services" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right">SERVICES</a>
        <a href="/jbs/" class="w3-bar-item w3-button w3-padding-large  w3-left w3-hide-large">JBS</a>
        <a href="/jbs/" class="w3-bar-item w3-button w3-padding-large  w3-left w3-hide-small w3-hide-medium">Jones' Barber Shop</a>


    </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navBar" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top w3-opacity-min"
    style="margin-top:46px">
    <a href="/jbs/services" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">SERVICES</a>
    <a href="/jbs/barbers" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">BARBERS</a>
    <a href="/jbs/portfolio" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">PHOTOS</a>
    <a href="/jbs/contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT</a>
</div>