{{ define "main" }}

<div class="w3-display-container w3-text-white" style="max-height:100vh; overflow: hidden;">
    <img src="{{ .Params.image }}" style="width:100%; filter:opacity(40%)">
    <div class="w3-display-middle">
        <h1>{{ .Title }}</h1>
        {{ partial "barber-socials" . }}
        <div class="w3-hide-small">{{ .Content }}</div>
    </div>
</div>

<div class="w3-container w3-hide-medium w3-hide-large w3-text-white">
    <div class="w3-container" style="width: 1fr">
        {{ .Content }}
    </div>
</div>

<div class="masonry">
    {{ $related := .Site.RegularPages.Related . }}
    {{ with $related }}

    {{ range . }}

    <div class="item">
        <img src="{{ .Params.image }}" width="100%">
    </div>
    {{ end }}
    {{ end }}
</div>

{{ end }}