<p class="social">
  {{ with .Params.facebook }}
  <a href="{{ . }}" class="external facebook">
    <i class="fa fa-facebook"></i>
  </a>
  {{end}}
  {{ with .Params.googleplus }}
  <a href="{{ . }}" class="external gplus">
    <i class="fa fa-google-plus"></i>
  </a>
  {{end}}
  {{ with .Params.twitter }}
  <a href="{{ . }}" class="external twitter">
    <i class="fa fa-twitter"></i>
  </a>
  {{end}}
  {{ with .Params.instagram }}
  <a href="{{ . }}" title="" class="external instagram">
    <i class="fa fa-instagram"></i>
  </a>
  {{end}}
  {{ with .Params.email }}
  <a href="mailto:{{ . }}" class="external email">
    <i class="fa fa-envelope"></i>
  </a>
  {{end}}
  {{ with .Params.linkedin }}
  <a href="{{ . }}">
    <i class="fa fa-linkedin"></i>
  </a>
  {{end}}
  {{ with .Params.stackoverflow }}
  <a href="{{ . }}">
    <i class="fa fa-stack-overflow"></i>
  </a>
  {{end}}
  {{ with .Params.github }}
  <a href="{{ . }}">
    <i class="fa fa-github"></i>
  </a>
  {{end}}
  {{ with .Params.youtube }}
  <a href="{{ . }}">
    <i class="fa fa-youtube"></i>
  </a>
  {{end}}
  {{ with .Params.whatsapp }}
  <a href="{{ . }}" data-animate-hover="pulse" class="external">
    <i class="fa fa-whatsapp"></i>
  </a>
  {{end}}
  {{ with .Params.booker }}
  <a href="{{ . }}" class="btn btn-danger external">Schedule an appointment!</a>
  {{end}}
</p>
