<!DOCTYPE html>
<html>
<title>Jones' Barber Shop</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
  body {
    background-color: #1f1f1f;
  }

  .bgimg {
    background-image: url('/img/bg.jpg');
    min-height: 100vh;
    background-position: left;
    background-size: cover;

  }
</style>

<body>


  <div class="bgimg w3-display-container w3-text-white"></div>

  <div class="w3-display-middle">
    <img src="/img/jbs.png" style="width:100%">
    <div class="w3-container-padding w3-center w3-text-white">
      <a href="https://clients.mindbodyonline.com/classic/ws?studioid=540293&stype=-9">
        <h1 class="w3-button w3-border">BOOK NOW</h1>
      </a>

    </div>

  </div>


 {{ partial "footer" .}}