{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobile_nav_toggle.html" . }}

    <div class="row" style="background: #EEE;">
        <div class="col-lg-4">
         {{ if and (isset .Params "image") .Params.image }}
             <img src="{{.Params.image | absURL}}" alt="" class="img-responsive">
       {{ end }}
      </div>
    <div class="col-lg-6">
        <div class="content-column-content" >
                <h2 style="padding-top: 1em;">{{ .Title }}</h2>
                {{ partial "social_buttons_in_barber.html" . }}
           {{ .Content }}
        </div>
      </div>
  </div>
  <div class="grid">
      <div class="row">

          {{ $related := .Site.RegularPages.Related . }}
          {{ with $related }}

          {{ range . }}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item">
                <div class="box-masonry">
                    {{ if and (isset .Params "image") .Params.image }}
                      {{ if eq .Params.showonlyimage true }}
                      <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay">
                      {{ else }}
                      <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay with-hover-icon">
                      {{ end }}
                          <img src="{{.Params.image | absURL}}" alt="" class="img-responsive">
                      </a>
                    {{ end }}
                    {{ if eq .Params.showonlyimage true }}
                    <div class="box-masonry-hover-text-header">
                    {{ else }}
                    <div class="box-masonry-text">
                    {{ end }}
                        <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                        <div class="box-masonry-description">
                          <p>
                              {{ if .Description }}
                                {{ .Description }}
                              {{ else }}
                                {{ .Summary }}
                              {{ end }}
                          </p>
                        </div>
                    </div>
                </div>
            </div>
        {{ end }}
        {{ end }}
      </div>
    
  </div>
</div>
</div>



{{ end }}