{{ define "main" }}

<div class="w3-display-container">
    <div style="max-height:100vh; overflow: hidden;">
        <img src="{{ .Params.image }}" style="width:100%; filter:opacity(40%)">
        <div class="w3-display-middle w3-text-white">
            <h1>{{ .Title }}</h1>
            {{ partial "barber-socials" . }}
            <div class="w3-opacity w3-hide-small w3-hide-medium">{{ .Content }}</div>
        </div>
    </div>
</div>
<div class="w3-container w3-hide-large w3-black w3-opacity">
    {{ .Content }}
</div>
<div class="flex-container">
    {{ $related := .Site.RegularPages.Related . }}
    {{ with $related }}

    {{ range . }}

    <div class="w3-padding">
        <img src="{{ .Params.image }}" style="max-width:360px">
    </div>
    {{ end }}
    {{ end }}
</div>

{{ end }}